.feed-container {
  @include phone(699px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .feed {
      width: 100%;
    }
  }
}
