.feed-section {
  /*   display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  width: 50%;
  @include phone(699px) {
    width: 100%;
  }
  .feed-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    @include padding-x(0.1rem);
    @include margin-y(0.5rem);
    .time-span {
      color: gray;
    }
    .feed-status {
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
    }

    .live {
      background-color: green;
    }

    .not-live {
      background-color: red;
    }
    .feed-controls {
      margin-left: auto;
      .controls-btn {
        padding: 0.2rem 1rem;
        border: solid 1px black;
        border-radius: 0.2rem;
        font-size: 12px;
        min-width: 5.5rem;
        @include margin-x(0.1rem);
        @include p-r;
      }
    }
  }
  .feed-content {
    /* @include phone(699px) { */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    height: 100%;

    .feed {
      width: 100%;
      height: 100%;
      border-radius: 1rem;
      border: 10px solid #1faa1d;
    }
    .broadcast-stream {
      border: 10px solid #aa401d;
    }
    .viewer-stream {
      border: 10px solid #3f68eb;

    }
    .no-video {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #ccc;
      border-radius: 0.5rem;
      width: 100%;
      height: 100%;
    }
  }
}
/* } */
