.footer {
  width: 100%;
  background-color: $menu-color;
  display: flex;
  margin-top: auto;
  h1 {
    width: 100%;
    margin: 0;
    @include padding-x(0.5rem);
    @include padding-y(1rem);
  }
}
