.header {
  background-color: $menu-color;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  @include p-r;
  h1 {
    @include p-l;
    margin: 0;
    width: 100%;
    @include padding-x(0.5rem);
    @include padding-y(1rem);
  }
}
