@import "./common/index";
@import "./views/index";
@import "./components/index";

body {
  color: black;
  margin: 0;
  background-color: $body-color;

  #root {
    font-size: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    @include p-r;
    @include phone(699px) {
      font-size: 14px;
    }
  }
}
